.cover__link{
  text-decoration: none;
  content: '';
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width:1024px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}
@media screen and (max-width:768px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }
}
@media screen and (max-width:420px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }
}
