.places {
  margin:92px auto 0px;
  max-width: 984px;
}
@media screen and (max-width:1024px) {
  .places {
    margin-top: 92px;
    max-width: 928px;
  }
}
@media screen and (max-width:768px) {
  .places {
    margin-top: 88px;
    max-width: 720px;
  }
}
@media screen and (max-width:320px) {
  .places {
    margin: 64px 0px 0px;
    max-width: 320px;
  }
}
