.cover__subtitle {
  margin-block-start: 0px;
  margin-block-end: 0px;
  color: white;
  font-family: 'Inter', Arial, sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 320px;
  margin: 32px 0 0;
  z-index: 2;
}
@media screen and (max-width:320px) {
  .cover__subtitle {
    margin: 16px 16px 0;
    font-size: 14px;
    line-height: 16px;
  }
}
