.header {
  max-width: 984px;
  margin: 34px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width:1024px) {
  .header {
    max-width: 928px;
  }
@media screen and (max-width:768px) {
  .header {
    margin: 34px 24px 0;
  }
}
@media screen and (max-width:320px) {
  .header {
    margin: 20px 16px 0;
  }
}
}
