.place__paragraph {
  margin: 0px 0px 25px;
  padding: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  text-align: left;
  max-width: 484px;
}
.place__paragraph:last-of-type {
  margin-bottom: 0px;
}
@media screen and (max-width:768px) {
  .place__paragraph{
    font-size: 16px;
    line-height: 163%;
  }
}
@media screen and (max-width:320px) {
  .place__paragraph {
    margin: 0px 16px 25px;
    width: 288px;
    font-size: 16px;
    line-height: 26px;
  }
}
