@font-face {
  font-family: 'Inter';
  font-style:normal;
  font-weight: 900;
  src: url(../fonts/Inter-Black.otf) format('opentype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight:bold;
  src: url(../fonts/Inter-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Inter-Regular.otf) format('opentype');
}
