.cover {
  background-image: url(../../images/cover-route-66.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 92px auto 0;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
}
@media screen and (max-width:1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
    margin: 92px 0px 0px;
  }
}
@media screen and (max-width:768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
    margin: 89px 0px 0px;
  }
}
@media screen and (max-width:320px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
    margin: 64px 0px 0px;
  }
}
