.intro__paragraph {
  margin: 32px auto 0 0;
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width:768px) {
  .intro__paragraph {
    max-width: 720px;
  }
}
@media screen and (max-width:320px) {
  .intro__paragraph {
    max-width: 288px;
  }
}
