.place__link {
  color: #FFFFFF;
  max-width: 456px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  margin: 0px;
  padding: 0px;
}
