.cover__overlay {
  content: '';
  background: rgba(42, 44, 47, 0.3);
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  transition: 0.1s;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
}
@media screen and (max-width:1024px) {
  .cover__overlay {
    max-width: 1024px;
    min-height: 640px;
  }
}
@media screen and (max-width:768px) {
  .cover__overlay {
    max-width: 768px;
    min-height: 480px;
  }
}
@media screen and (max-width:320px) {
  .cover__overlay {
    max-width: 320px;
    min-height: 200px;
  }
}
