.cover__overlay::before {
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.1s;
  z-index: -1;

}

.cover__overlay:hover::before {
  opacity: 0.8;
}
