.cover__title {
  color: white;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0px;
  z-index: 2;
}
@media screen and (max-width:320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
