.place__url-heading {
  margin: 0px 0px 4px;
  padding: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}
@media screen and (max-width:1024px) {
  .place__url-heading {
  margin-bottom: 12px;
  }
}
@media screen and (max-width:768px) {
  .place__url-heading {
    line-height: 12px;
  }
}
