.place__url-heading {
  max-width: 456px;
  margin: 0px 0px 4px;
  padding: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}
